@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33.33%;
  }
}